/* General Rules */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
}

body{
  background-image: url('img/back.jpg');
  background-size: 100%;
  background-position: center;
}

/* COMMENT THIS IN DEBUG */
p{
  visibility: hidden;
}

/* Header */
.jumbotron{
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.jumbotron img{
  height: 100px;
}

/* Main */
#main-pack{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  background-color: black;
}

/* Utility */
.bfull{
  border: 2px solid blue;
}

.btop{
  border-top: 2px solid blue;
}

.brx{
  border-right: 2px solid blue;
}

.bbot{
  border-bottom: 2px solid blue;
}

.blx{
  border-left: 2px solid blue;
}

.relative{
  position: relative;
}

/* Backgrounds */
.col-1{
  background-image: url('img/heat.jpeg');
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}

.col-1:hover{
  background-image: url('img/packman.jpeg');
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}

.col-1.rotate-lx:hover{
  background-image: url('img/packleft.jpg');
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}

.col-1.rotate-dw:hover{
  background-image: url('img/packdown.jpg');
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}

.col-1.rotate-up:hover{
  background-image: url('img/packup.jpg');
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}

.game-over:hover{
  background-image: url('img/over.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat:no-repeat;
}

.win:hover{
  background-image: url('img/win.png');
  background-size: 50%;
  background-position: center;
  background-repeat:no-repeat;
}


.phantom{
  position: absolute;
  height: 80%;
}

.phantom-rose{
  left: 15px;
  top: 5px;
  animation: rose 5s linear infinite;
}

.phantom-red{
  top: 15px;
  left: 15px;
  animation: red 2s linear infinite;
}

.phantom-green{
  left: 540px;
  top: 5px;
  animation: green 4s linear infinite;
}

@keyframes rose{
  0%{
    left: 15px;
    top: 5px;
  }

  50%{
    left: 850px;
    top: 5px;
  }

  100%{
    left: 15px;
    top: 5px;
  }
}

@keyframes red{
  0%{
    top: 15px;
    left: 15px;
  }

  50%{
    left: 15px;
    top: 200px;
  }

  100%{
    top: 15px;
    left: 15px;
  }
}

@keyframes green{
  0%{
    left: 540px;
    top: 5px;
  }

  50%{
    left: 15px;
    top: 5px;
  }

  100%{
    left: 540px;
    top: 5px;
  }
}

.start{
  display: flex;
  justify-content: center;
  align-items: center;
}

#packman{
  position: absolute;
  width: 40%;
  left: 30px;
  top: 5px;
}

.pack-down{
  animation: down 0.3s linear both;
  transform: rotate(90deg);
}

@keyframes down{
   to{
     top: 50px;
   }
}

.pack-top{
  animation: top 0.3s linear both;
  transform: rotate(270deg);
}

@keyframes top{
  from{
    top: 50px;
    left: 130px;
  } 
  
  to{
    left: 130px;
    top: 5px;
   }
}

.pack-rx{
  animation: rx 0.5s linear both;
  transform: rotate(0deg);
}

@keyframes rx{
  from{
    top: 50px;
  }
  to{
    top: 50px;
    left: 130px;
   }
}

